@using Microsoft.AspNetCore.Http
@using ReviewSocial.Repositories
@using System.Security.Claims;
@model IEnumerable<Post>

<link href="~/css/profile.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div class="profile-header-img">
                                @{
                                    var avatar = Context.Session.GetString("avatar") == null ? "/img/avatar.jpg" : "/img/" + Context.Session.GetString("avatar");
                                }
                                <img src="@avatar" alt="">
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">@User.Identity.Name</h4>
                                <a href="/user/editprofile" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                            </div>
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->
                        <!-- BEGIN profile-header-tab -->
                        <ul class="profile-header-tab nav nav-tabs" style="visibility: hidden;">
                            <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-with-timeline-posts" target="__blank" class="nav-link_">POSTS</a></li>
                            <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-about" target="__blank" class="nav-link_">ABOUT</a></li>
                            <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-photos" target="__blank" class="nav-link_">PHOTOS</a></li>
                            <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos" target="__blank" class="nav-link_">VIDEOS</a></li>
                            <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-friend-list" target="__blank" class="nav-link_ active show">FRIENDS</a></li>
                        </ul>
                        <!-- END profile-header-tab -->
                    </div>
                </div>
                <!-- end profile -->
                <!-- begin profile-content -->
                <div class="profile-content">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        <!-- begin #profile-post tab -->
                        <div class="tab-pane fade active show" id="profile-post">
                            <!-- begin timeline -->
                            <ul class="timeline">
                                @{
                                    var userId = int.Parse(User.FindFirstValue(ClaimTypes.Sid));
                                }
                                @if (Model.Where(i => i.User.Id == @userId).Count() != 0)
                                {
                                    @foreach (var item in Model.Where(i => i.User.Id == userId).OrderByDescending(i => i.CreatedDate))
                                    {
                                        <li>
                                            <!-- begin timeline-time -->
                                            <div class="timeline-time">
                                                @{
                                                    DateTime createdDate = DateTime.Parse(item.CreatedDate.ToString());
                                                }
                                                <span class="date">@createdDate.Date.ToString("dd/MM/yyyy")</span>
                                                <span class="time">@createdDate.Hour:@createdDate.Minute</span>
                                            </div>
                                            <!-- end timeline-time -->
                                            <!-- begin timeline-icon -->
                                            <div class="timeline-icon">
                                                <a href="javascript:;">&nbsp;</a>
                                            </div>
                                            <!-- end timeline-icon -->
                                            <!-- begin timeline-body -->
                                            <div class="timeline-body">
                                                <div class="timeline-header">
                                                    @{
                                                        var avatarpost = Context.Session.GetString("avatar") == null ? "/img/avatar.jpg" : "/img/" + Context.Session.GetString("avatar");
                                                    }
                                                    <img class="userimage" src=" @avatarpost" alt="">
                                                    @* <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""></span>*@
                                                    <span class="username"><a href="javascript:;">@item.User.Username</a> <small></small></span>
                                                    <div class="pull-right text-right">
                                                        <div class="dropdown">
                                                            @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                                                            <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                <i class="fa fa-ellipsis-h"></i>
                                                            </button>
                                                            <div class="dropdown-menu" style="margin-left: -155px;">
                                                                <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa bài viết</a>
                                                                <a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                                                <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="timeline-content">
                                                    <p>@Html.Raw(@item.Content)</p>
                                                </div>
                                                <div class="timeline-likes">
                                                    <div class="stats-right">        
                                                        <span class="stats-text">@item.Comments.Count Comment</span>
                                                        <span class="stats-text">@item.View View</span>

                                                    </div>
                                                    <div class="stats">
                                                        <span class="fa-stack fa-fw stats-icon">
                                                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span class="stats-total">4.3k</span>
                                                    </div>
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                                    <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                                                </div>
                                                <div class="timeline-comment-box">
                                                    <div class="user">
                                                        @{
                                                            var avatarcomment = Context.Session.GetString("avatar") == null ? "/img/avatar.jpg" : "/img/" + Context.Session.GetString("avatar");
                                                        }
                                                        <img class="userimage" src=" @avatarcomment" alt="">
                                                    </div>
                                                    <div class="input">
                                                        <form action="">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                                                                <span class="input-group-btn p-l-10">
                                                                    <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                                                </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end timeline-body -->
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <!-- begin timeline-time -->
                                        <div class="timeline-time">
                                            <span class="date"></span>
                                            <span class="time"></span>
                                        </div>
                                        <div class="timeline-icon">
                                            <a href="javascript:;">&nbsp;</a>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-content">
                                                <h3>Bạn chưa có bài viết nào!</h3>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <!-- end timeline -->
                        </div>
                        <!-- end #profile-post tab -->
                    </div>
                    <!-- end tab-content -->
                </div>
                <!-- end profile-content -->
            </div>
        </div>
    </div>
</div>