@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Tuple<Post, IEnumerable<Comment>>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;

@{
    ViewData["Title"] = Model.Item1.Title;
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-12 activity p-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>

                    <li class="breadcrumb-item">@Model.Item1.Title</li>
                </ol>

            </nav>
            <div style="overflow-y:scroll ; height: 85vh;" class="panel panel-default mb-3 bg-white px-1 rounded-3 post_Card">
                <div class="panel-heading">
                    <img src="@(Model.Item1.User.Avatar == null ? "/img/avatar.jpg" : "/img/" + Model.Item1.User.Avatar)" class="rounded-circle" width="40" height="40"/> 
                    <div class="pull-right text-right">
                        <div class="dropdown">
                            @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                            <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa bài viết</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>
                            </div>
                        </div>
                    </div>
                    <div><strong>@Model.Item1.User.Username</strong></div>
                    <div>
                        <p style="font-family:'Times New Roman', Times, serif">@DateTime.Parse(Model.Item1.CreatedDate.ToString()).ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="panel-body">
                        <div class="mt-1">
                            @Html.Raw(@Model.Item1.Content)
                    </div class="d-flex">
                        <div class="w-50 h-50 mx-auto">
                            <img src="@Url.Content("~/")@Model.Item1.Thumbnail" alt="@Model.Item1.Title" title="@Model.Item1.Title" />
                        </div>
                    </div>


                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>

                        </div>
                        <div class="pull-right"><strong>@Model.Item1.View</strong> People view this</div>
                    </div>

                    <div class="comment p-2 mt-2">
                        @if (@Model.Item2 != null)
                        {
                            @foreach (var item in @Model.Item2)
                            {
                                    <div class="media bg-light p-1 mb-2" id="item-@item.Id">
                                    <a class="pull-left" href="#">
                                        <img class="rounded-circle cover-image" width="40" height="40" src="@Url.Content("~/img/")@item.User.Avatar" >
                                    </a>
                                    <div class="media-body">
                                        <div class="pull-right text-right">
                                            @*<div class="card-text"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>*@
                                     <div class="dropdown">
                                                @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                                    <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu" style="margin-left: -155px;">
                                                    @if (item.UserId == Convert.ToInt32(Context.Session.GetString("id")))
                                                    {

                                            <a class="dropdown-item" onclick="toggleField(`item-@item.Id`,@item.Id,`@item.Content`)" ><i class="fa fa-pencil" aria-hidden="true"  readonly ></i> Chỉnh sửa bài viết</a>
                                            <a class="dropdown-item" onclick="deleteCmt(@item.Id)"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>

                                                    }
                                    </div>
                                </div>
                            </div>
                                        <div class="pull-right small">  @DateTime.Parse(item.CreatedDate.ToString()).ToString("dd/MM/yyyy HH:mm")
        </div>
                                        <h4 class="media-heading pl-2">@item.User.Username</h4>
                                        <p style="font-size: 1.1rem;" class="font-weight-normal">@item.Content</p>
                                        @if(@item.simage != "" && @item.simage != null){
                                                <img src="@Url.Content("~/img/posts/")@item.simage" alt="@Model.Item1.Title" title="@Model.Item1.Title" />

                                        }
                                    </div>
                                </div>
                            }
                        }




                    </div>

                </div>
                <div class="panel-footer">
                    <div class="input-group mb-3">
                        <input type="text" id="comment" class="form-control" placeholder="Write a comment...">
                        <div class="col-sm-3">
                            <input type="file" name="file" accept="image/*" class="form-control-file" id="file">
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary f-s-12 rounded-corner" onclick="submitCmt()" type="button">Comment</button>
                        </div>
                    </div>

                </div>
                     <script>

                    const toggleField = (e,id,content) =>{
                    const field = document.getElementById(`${e}`);
                    console.log(e,id,content)
                    const form = document.createElement('div');

                    // Tạo input element
                    const input = document.createElement('input');
                    input.type = 'text'; // kiểu input là text
                    input.name = 'input'; // đặt name cho input
                    input.id = `content-${e}`
                    input.value= content
                    input.className="form-control"

                    // Tạo button element
                    const button1 = document.createElement('button');
                    button1.className="btn btn-danger"
                    button1.textContent = 'huy'; // đặt nội dung cho button
                    const button2 = document.createElement('button');
                    button2.className="btn btn-primary"
                    button2.textContent = 'sua'; // đặt nội dung cho button
                    button2.type="button"
                    // Thêm input và button vào form
                    form.appendChild(input);
                    form.appendChild(button1);
                    form.appendChild(button2);

                    // Thêm form vào DOM
                    field.appendChild(form);

                    button1.onclick = function() {
                    field.removeChild(field.lastChild);
                    };

                    // Thêm sự kiện onClick cho button 2
                    button2.onclick = function() {
                    const comment = document.getElementById(`content-${e}`)?.value;
                    console.log(comment)
                    if(!comment){
                        return;
                    }

                    var formData = new FormData();


                    formData.append('content', comment);
                    formData.append("id",id);

                    ajaxCustom("/Post/updateCmt","post",formData,(value)=>{window.location.reload()},(value)=>{alert('thêm không thành công!')})
};
                }
                 const deleteCmt = (itemId) => {

                    if (confirm("Bạn có muốn xóa bình luận  này?")) {

                    ajaxCustom(`/Post/Delete/${itemId}`,'delete',null,(value)=>{window.location.reload()},(value)=>{
                        alert('xóa không thành công')
                    })

                    }
                 }

               
                const submitCmt = () => {
                    const comment = document.getElementById("comment").value;
                    const file = document.getElementById("file")

                    var formData = new FormData();


                    formData.append('Content', comment);
                    formData.append("PostsId",@Model.Item1.Id);
                    formData.append("file",file.files[0])

                    ajaxCustom("/Post/Comment","post",formData,(value)=>{window.location.reload()},(value)=>{alert('them khong thanh cong')})
                }
                const changeRow = (n) => {
    let tag  = document.getElementsByClassName("panel");
    console.log(tag,n);
}
    </script>
            </div>
        </div>
        @* <div class="col-md-4">
            <div class="card mb-3 border-0">
                <div class="card-header bg-primary text-white pt-2 pb-1">
                    <h5>Tin mới</h5>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>
