@model Tuple<IEnumerable<Category>, IEnumerable<Post>>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-2">
    <div class="row">
        <div class="col-lg-8 col-md-12 activity p-2 newsfeed">
            <div class="panel panel-default mb-4 bg-white p-2 rounded-3">
                <div class="row">
                    <div class="col-md-1 m-auto" style="width: 70px;">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                             class="w-100 img-circle">
                    </div>
                    <div class="col-md-11">
                        <input type="text" class="form-control" placeholder="Bạn đang nghĩ gì?" readonly data-toggle="modal" data-target="#exampleModal">
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
           @foreach (var item in Model.Item2.Reverse())
           {
                
                <div class="panel panel-default mb-3 bg-white p-2 rounded-3">
                <div class="panel-heading">
                    <img src="@Url.Content("~/")@item.User.Avatar" class="img-rounded img-circle">
                    <div class="pull-right text-right">
                        @*<div class="card-text"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>*@
                        <div class="dropdown">
                            @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                            <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                               @if(item.UserId == Convert.ToInt32(Accessor.HttpContext.Session.GetString("id"))){
                                
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa bài viết</a>
                                <a class="dropdown-item" onclick="deleteItem(@item.Id)"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>
                                
                               }
                            </div>
                        </div>
                    </div>
                    <div><strong>@item?.User?.Username</strong></div>
                </div>
                <div class="panel-body">
                        @if (@item.Thumbnail.Trim() != "")
                        {
                            <img src="@Url.Content("~")/@item.Thumbnail"  class="img-responsive">
                        }
                        <div class="card-body">
                        <a asp-controller="Post" asp-action="Index" asp-route-id=@item.Id class="card-text">@item.Title</a>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>
                        </div>
                        <div class="pull-right"><strong>@item.View</strong> People View this</div>
                    </div>

                </div>
            </div>
           }
        
        @*    <div class="row">
                <div class="col-md-12 mb-4">
                    
                    <div class="card">
                        <div class="row mb-2 p-3">
                            <div class="col-md-1">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top" alt="...">
                            </div>
                            <div class="col-md-10 pl-0">
                                <div class="card-text">Nguyễn Thị Lê</div>
                            </div>
                            <div class="col-md-1 pl-0">
                                <div class="card-text"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <a class="news-item d-block rounded" href="">
                            <div class="text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top w-50" alt="...">
                            </div>
                            <div class="card-body">
                                <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                            </div>
                        </a>
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>
                            </div>
                            <div class="pull-right" style="padding: .375rem .75rem;">
                                <strong>1.789</strong><i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="row mb-2 p-3">
                            <div class="col-md-1">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top" alt="...">
                            </div>
                            <div class="col-md-10 pl-0">
                                <div class="card-text">Nguyễn Thị Lê</div>
                            </div>
                            <div class="col-md-1 pl-0">
                                <div class="card-text"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <a class="news-item d-block rounded" href="">
                            <div class="text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top w-50" alt="...">
                            </div>
                            <div class="card-body">
                                <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                            </div>
                        </a>
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>
                            </div>
                            <div class="pull-right" style="padding: .375rem .75rem;">
                                <strong>1.789</strong><i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-12 mb-4">
                    <div class="card">
                    <div class="row mb-2 p-3">
                        <div class="col-md-1">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-10 pl-0">
                            <div class="card-text">Nguyễn Thị Lê</div>
                        </div>
                        <div class="col-md-1 pl-0">
                            <div class="card-text"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                        </div>
                    </div>
                        <a class="news-item d-block rounded" href="">
                            <div class="text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top w-50" alt="...">
                            </div>
                            <div class="card-body">
                                <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                            </div>
                        </a>
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>
                            </div>
                            <div class="pull-right" style="padding: .375rem .75rem;">
                                <strong>1.789</strong><i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        </div>

        <div class="col-lg-4 d-md-none activity d-lg-block p-2">
            <div class="category bg-white rounded-3">
                <h3 class="title text-center">
                    category
                </h3>
                <div class="sidebar__box flex-column d-flex align-items-center justify-content-center">
                    @foreach (var item in Model.Item1){
                        <div class="sidebar__item">
                        <i class="fa fa-newspaper-o"></i>
                        <a asp-controller="Home" action="Index" asp-route-category=@item.Id class="sidebar__link">
                                @item.Name
                        </a>
                    </div>
                    }
                   
                  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->


            @* <script src="~/wwwroot/js/libraryCustom.js"/> *@
            <script>
                 const deleteItem = (itemId) => {
                    console.log(typeof itemId)
                         if (confirm("Bạn có muốn xóa bai viet này?")) {
                 
                    ajaxCustom(`/Home/Delete/${itemId}`,'delete',null,(value)=>{window.location.reload()},(value)=>{
                        alert('xoa khong thanh cong')
                    })
                 
                        }


                 };
                const submitForm = () => {
                    var editor = CKEDITOR.instances['content-home'];
                    const title = document.getElementById("title").value;
                    const option = document.getElementById("exampleFormControlSelect1").value;
                    const file = document.getElementById("exampleFormControlFile1").files[0]
                   
                    var formData = new FormData();
                    formData.append('file', file);
                    formData.append('Title', title);
                    formData.append('Content', editor.getData());
                    formData.append('CategoryId', option);
                    ajaxCustom("Home/Create","post",formData,(value)=>{window.location.reload()},(value)=>{alert('them khong thanh cong')})
                }
            </script>
        </div>
    </div>
</div>
<script>

    
</script>
