@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ReviewSocial.Models.Category>
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2">
                        <button class="btn btn-add btn-sm" title="Thêm" data-toggle="modal" data-target="#exampleModal" onclick="openModalCreate()">
                            <i class="fa fa-plus"></i>
                            Thêm danh mục mới
                        </button>
                    </div>
                </div>
                <table class="table table-hover table-bordered" id="tblCategory" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            @*<th width="10"><input type="checkbox" id="all"></th>*@
                            <th width="10">STT</th>
                            <th>Danh mục</th>
                            <th>Tổng số bài viết</th>
                            <th width="100">Tính năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr id="row-@item.Id">
                                @*  <td width="10"><input type="checkbox" name="check1" value="1"></td>*@
                                <td>@count</td>
                                <td id="category-@item.Id">@item.Name</td>
                                <td>@item.Posts.Count</td>
                                <td class="table-td-center">
                                    <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                            onclick="getCategoryById(@item.Id)" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                                            onclick="getCategoryById(@item.Id)" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                            count++;
                        }

                    </tbody>
                </table>
            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@*- Modal thêm_sửa-->*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
                        <div class="modal-header">
                            <h5 style="color:black">Thêm danh mục mới</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                                <span aria-hidden="true" style="color:black; font-size: 20px">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhập tên danh mục mới</label>
                        <input class="form-control" type="text" id="name" placeholder="Tên danh mục">
                        <small id="error" class="form-text text-danger"></small>
                    </div>
                </div>
                @*   <br>
                <button class="btn btn-save" type="button">Lưu lại</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <br>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnCloseModal" data-dismiss="modal" onclick="closeModal()">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="checkUpdate()">Lưu</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
@*- Modal xóa -->*@
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" style="color:black">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa danh mục này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModalDelete" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Hủy</button>
                <button type="button" class="btn btn-danger" onclick="deleteCategory()">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script>
    var idUpdate = 0;
    function checkUpdate() {
        if (idUpdate == 0) {
            createCategory();
        } else {
            updateCategory();
        }
    }
    function createCategory() {
        var name = document.getElementById("name");
        var error = document.getElementById("error");
        if (name.value == "") {
            error.innerHTML = "Vui lòng nhập tên danh mục"
            name.focus;
            return;
        }
        var category = {
            "name": name.value
        }
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var res = JSON.parse(this.responseText);
                if (res.message != null) {
                    error.innerHTML = res.message;
                    return;
                }
                addRowToTable(res.id, res.name);
                document.getElementById('btnCloseModal').click();
            }
        };
        request.open("POST", "/admin/category/create", true);
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(category));
    }
    function updateCategory() {
        var name = document.getElementById("name");
        var error = document.getElementById("error");
        if (name.value == "") {
            error.innerHTML = "Vui lòng nhập tên nhóm danh mục";
            name.focus();
            return;
        }

        var category = {
            "name": name.value
        }
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                var res = JSON.parse(this.responseText);
                if (res.message != null) {
                    error.innerHTML = res.message;
                    return;
                }
                document.getElementById("category-" + res.id).innerHTML = res.name;
                document.getElementById("btnCloseModal").click();
            }
        };
        request.open("POST", "/admin/category/update/" + idUpdate, true);
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(category));
    }
    function addRowToTable(id, name) {
        var table = document.getElementById("tblCategory");
        var row = table.insertRow();
        row.id = "row-"+id;
        var cell1 = row.insertCell(0);
        cell1.innerHTML = table.rows.length - 1;

        var cell2 = row.insertCell(1);
        cell2.id = "category-" + id;
        cell2.innerHTML = name;

        var cell3 = row.insertCell(2);
        cell3.innerHTML = '0';

        var cell4 = row.insertCell(3);
        cell4.className = "table-td-center";
        cell4.innerHTML = '<button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="getCategoryById(' + id + ')" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button>'
            + '<button class="btn btn-primary btn-sm edit" type = "button" title = "Sửa" id = "show-emp" onclick="getCategoryById(' + id + ')" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit"></i></button>';
    }
    function getCategoryById(id) {
        var name = document.getElementById("name");

        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var res = JSON.parse(this.responseText);
                idUpdate = res.id;
                name.value = res.name;
            }
        };
        request.open("GET", "/admin/category/" + id, true);
        request.send();
    }
    function openModalCreate() {
        idUpdate = 0;
    }
    function closeModal() {
        document.getElementById("name").value = "";
        document.getElementById("error").innerHTML = "";
    }
    function deleteCategory() {
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("btnCloseModalDelete").click();
                document.getElementById('tblCategory').deleteRow(document.getElementById("row-" + idUpdate).rowIndex);
            }
        };
        request.open("POST", "/admin/category/delete/" + idUpdate, true);
        request.send();
    }

</script>