@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Post
@{
    ViewData["Title"] = "Tin Đẹp";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-8 activity p-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item">@Model.Category.Name</li>
                </ol>

            </nav>
            <div class="panel panel-default mb-3 bg-white p-2 rounded-3">
                <div class="panel-heading">
                    <img src="@(Model.User.Avatar == null ? "/img/avatar.jpg" : "/img/" + Model.User.Avatar)" class="img-rounded">
                    <div class="pull-right text-right">
                        <div class="dropdown">
                            @*<div class="card-text" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></div>*@
                            <button class="btn btn-secondary bg-transparent text-dark border-0" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa bài viết</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Xóa bài</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-window-close" aria-hidden="true"></i> Ẩn bài viết</a>
                            </div>
                        </div>
                    </div>
                    <div><strong>@Model.User.Username</strong></div>
                    <div>
                        <p style="font-family:'Times New Roman', Times, serif">@DateTime.Parse(Model.CreatedDate.ToString()).ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="card border-0">
                        @*<div class="text-center">
                            <img src="https://www.bootdey.com/image/500x333" class="img-responsive w-75">
                        </div>*@
                        @*<div class="card-img-overlay">*@
                          @*<h5 class="card-title">Card title</h5>*@
                            <p class="card-text font-weight-bold">@Model.Title</p>
                           @*<p class="card-text">Last updated 3 mins ago</p>*@
                        @*</div>*@
                    </div>
                    <div class="panel-body">
                        <blockquote>
                           @Html.Raw(@Model.Content)

                        </blockquote>
                    </div>

                    <div class="mt-1">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                          @*  <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>*@
                            @*<button type="button" class="btn btn-link"><i class="fa fa-comments"></i> Comment</button>*@

                        </div>
                        <div class="pull-right"><strong>@Model.View</strong> People view this</div>
                    </div>

@*                    <div class="comment p-2 mt-2">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </a>
                            <div class="media-body">
                                <div class="pull-right small">3 hours ago</div>
                                <h4 class="media-heading">Media heading</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </div>

                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </a>
                            <div class="media-body">
                                <div class="pull-right small">3 hours ago</div>
                                <h4 class="media-heading">Media heading</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </div>

                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </a>
                            <div class="media-body">
                                <div class="pull-right small">3 hours ago</div>
                                <h4 class="media-heading">Media heading</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </div>
                    </div>*@

                </div>
                @*<div class="panel-footer">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Write a comment...">
                        <div class="input-group-append">
                            <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 border-0">
                <div class="card-header bg-primary text-white pt-2 pb-1">
                    <h5>Tin mới</h5>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/service-1.jpg" class="card-img-top" alt="Hình ảnh">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-2">
                                <div class="card-title">Thông báo: Đăng tin quảng bá sản phẩm/Dịch vụ tại Biztech Việt Nam 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    const request = new XMLHttpRequest();
    var url = window.location.href;
    var parts = url.split("/");
    var postId = parts.pop();
    let check = false;
    // hàm thời gian 2s thì tăng view
    setTimeout(function () {
            console.log('At the bottom!');
            updateViewPost(postId);
        }, 2000);
    window.onscroll = function () {
        // Nếu đã cuộn xuống cuối trang và hàm đã chạy 1 lần, thì không làm gì cả
        if (check) {
            return;
        }

        // Nếu cuộn xuống cuối trang, thực hiện các hành động
        if ((window.innerHeight + Math.ceil(window.pageYOffset)) >= document.getElementById("container").offsetHeight) {
            console.log('At the bottom!');
            updateViewPost(postId);
            check = true; // Đánh dấu đã cuộn xuống cuối trang
        }
    };

    function updateViewPost(id) {
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const id = this.responseText;
            }
        };
        request.open("POST", "/Post/UpdateView", true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        request.send("id=" + id);
    }
</script>*@
